@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Lexend+Mega&family=Open+Sans:wght@300..800&family=Outfit:wght@100..900&family=Share+Tech+Mono&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
* ::-webkit-scrollbar-track {
  background-color: #2f284e;
}
* ::-webkit-scrollbar {
  width: 5px;
}
* ::-webkit-scrollbar-thumb {
  background: #6dd1f0;
  border-radius: 3rem;
}

body {
  height: 100vh;
  scroll-behavior: auto;
  stroke-width: 3px;
}

span.bold {
  font-weight: 700;
}

span.green {
  color: #5dff85;
}

span.pink {
  color: #ff9dd4;
}

span.code {
  padding: 0rem;
  background: #282A36;
  color: white;
  padding: 0rem 0.3rem;
  border-radius: 0.4rem;
  font-weight: 450;
}

span.erro {
  color: red;
  text-transform: uppercase;
  font-size: 1rem;
}

h1 {
  font-family: "Inter";
  font-size: 4.3vh;
  text-transform: uppercase;
  color: #255eef;
}

h2 {
  font-family: "Inter";
  font-size: 3.5vh;
  text-transform: uppercase;
  color: #255eef;
}

p {
  font-family: "DM Sans";
  font-size: 1rem;
  color: rgb(0, 0, 0);
  margin-bottom: 2vh;
  line-height: 1.6;
}

#home section.informations {
  height: 58vh;
  padding: 0.5rem;
  padding-top: 0.2rem;
  background: #255eef;
  border-radius: 0rem 0rem 1rem 1rem;
}
#home section.informations header {
  display: flex;
  justify-content: space-between;
}
#home section.informations header h1 {
  font-family: "Inter";
  font-size: 7vh;
  text-transform: uppercase;
  color: white;
}
#home section.informations header nav {
  margin-top: 0.8vh;
}
#home section.informations header nav button {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
}
#home section.informations header nav button svg {
  width: 24px;
  height: 24px;
}
#home section.informations header nav button svg path {
  fill: white;
}
#home section.informations h2 {
  font-family: "Inter";
  font-size: 2.5vh;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
#home section.informations .author {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-size: 2.5vh;
  color: white;
}
#home section.informations .author a {
  margin-left: 0.2rem;
  font-weight: 500;
  color: white;
}
#home section.informations .img {
  margin: 2vh 0vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
#home section.informations .img svg {
  margin-top: 1vh;
  padding: 0.3rem;
  height: 25vh;
  animation: fly 3s infinite;
}
@keyframes fly {
  50% {
    transform: translateY(-0.8vh);
  }
}
#home section.informations .actions {
  display: flex;
  justify-content: space-between;
}
#home section.informations .actions .social-media {
  display: flex;
}
#home section.informations .actions .social-media button {
  padding: 0.3rem;
  margin-right: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: none;
}
#home section.informations .actions .social-media button svg {
  width: 4.8vh;
  height: 4.8vh;
}
#home section.informations .actions .social-media button svg path {
  fill: white;
}
#home section.informations .actions .social-media button:hover {
  transform: translateY(-0.7vh);
}
#home section.informations .actions .social-media button:hover path {
  fill: aqua;
}
#home section.informations .line {
  width: 100%;
  height: 0.1rem;
  background: white;
  margin-top: 1.5vh;
}
#home section.informations .important {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home section.informations .important h4 {
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 0.2rem;
  color: white;
}
#home section.informations .important .read {
  display: flex;
  align-items: center;
}
#home section.informations .important .read svg {
  width: 1.7rem;
}
#home section.informations .important .read path {
  fill: white;
}
#home section.informations .important .scroll {
  display: flex;
  align-items: center;
}
#home section.informations .important .scroll svg {
  width: 1.7rem;
}
#home section.informations .important .scroll path {
  fill: white;
}

section.introduction {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  background: white;
}
section.introduction .pre-index {
  margin-bottom: 0px;
}

.interface {
  height: auto;
  background: white;
  padding: 0.6rem;
  padding-top: 0.1rem;
}
.interface section.indice {
  background: rgb(219, 230, 255);
  font-family: "Inter";
  font-weight: 500;
  margin-bottom: 2vh;
}
.interface section.indice ul {
  list-style-image: url("/images/tabcoin-opaco.svg");
  padding: 0.5rem;
  padding-bottom: 0rem;
  margin-left: 0.5rem;
}
.interface section.indice a:active {
  color: red;
}
.interface .center {
  display: flex;
  justify-content: center;
  padding-bottom: 0.8rem;
}
.interface .center .form-design {
  width: 90%;
  padding: 1rem;
  margin-bottom: 4.5vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border: 1px solid #255eef;
  box-shadow: 0px 5px 11px 0px rgba(37, 95, 239, 0.6);
}
.interface .center .form-design h3 {
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.5rem;
  text-align: center;
}
.interface .center .form-design h4 {
  color: black;
  font-family: "Inter";
  font-size: 0.92rem;
  font-weight: 450;
  padding-bottom: 0.2rem;
}
.interface .center .form-design .input {
  display: flex;
  align-items: center;
  height: 1.8rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  border: 2px solid #255eef;
  cursor: not-allowed;
}
.interface .center .form-design .input h5 {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(46, 46, 46);
}
.interface .center .form-design .email {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.interface .center .form-design .senha {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.interface .center .form-design .buttons {
  display: flex;
}
.interface .center .form-design .buttons button {
  width: 18vh;
  height: 6vh;
  margin-top: 0.3rem;
  border-radius: 0.4rem;
  border: none;
  background: #255eef;
  font-family: "Open Sans";
  font-weight: 450;
  color: white;
}
.interface .center .form-design .buttons button:hover {
  background: #1d45ac;
}
.interface .center .form-design #autoComplete {
  margin-right: 1rem;
}

#front-end {
  height: auto;
}
#front-end .email-center {
  display: flex;
  justify-content: center;
  /*.emoji{
      padding: 0.5rem 0rem 0rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      h2{
          font-size: 3rem;
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
      }

      span.bold{
          font-size: 1rem;
      }
  } */
}
#front-end .email-center .form-email {
  width: 90%;
  padding: 1rem;
  margin-bottom: 4.5vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border: 1px solid #255eef;
  box-shadow: 0px 5px 11px 0px rgba(37, 95, 239, 0.6);
  padding: 1rem 1rem 1.8rem 1rem;
}
#front-end .email-center .form-email .email {
  display: flex;
  flex-direction: column;
}
#front-end .email-center .form-email .email h3 {
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0.5rem;
  text-align: center;
}
#front-end .email-center .form-email .email label {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 0.9rem;
  color: rgb(46, 46, 46);
  margin-bottom: 0.3rem;
}
#front-end .email-center .form-email .email input {
  display: flex;
  align-items: center;
  height: 1.8rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  border: 2px solid #255eef;
}
#front-end .css-center {
  display: flex;
  justify-content: center;
}
#front-end .css-center .custom-button {
  width: 90%;
  padding: 1rem;
  margin-bottom: 4.5vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border: 1px solid #255eef;
  box-shadow: 0px 5px 11px 0px rgba(37, 95, 239, 0.6);
}
#front-end .css-center .custom-button h3 {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem;
  text-align: center;
}
#front-end .css-center .custom-button button {
  background: gray;
  font-family: "Inter";
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 50rem;
  border: none;
}
#front-end .css-center .custom-button button:hover {
  background: rgb(255, 178, 178);
}
#front-end .css-code {
  padding: 0.6rem;
  background: #282A36;
  border-radius: 0.5rem;
  margin-bottom: 4.5vh;
}
#front-end .css-code h4 {
  font-family: "DM Sans";
  font-weight: 400;
  color: white;
}
#front-end .css-center .css-custom {
  width: 90%;
  padding: 1rem;
  margin-bottom: 4.5vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border: 1px solid #255eef;
  box-shadow: 0px 5px 11px 0px rgba(37, 95, 239, 0.6);
  flex-direction: inherit;
}
#front-end .css-center button {
  margin: 0rem 0.6rem;
}

#back-end .backend {
  width: 90%;
  padding: 1rem;
  margin-bottom: 4.5vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border: 1px solid #255eef;
  box-shadow: 0px 5px 11px 0px rgba(37, 95, 239, 0.6);
}
#back-end .backend button {
  margin: 0.5rem;
  padding: 0.5rem 2.5rem;
  border-radius: 5rem;
  border: none;
  background: #255eef;
  color: white;
  cursor: pointer;
}
#back-end .backend .terminal {
  width: 100%;
  height: 6rem;
  padding: 0.6rem;
  background: #282A36;
  border-radius: 0.5rem;
  margin-bottom: 4.5vh;
  overflow-y: auto;
}
#back-end .backend ::-webkit-scrollbar-thumb {
  background: #5dff85;
  border-radius: 3rem;
}
#back-end .backend p {
  color: white;
  line-height: 1.1;
  margin-bottom: 0.5rem;
}
#back-end .database {
  width: 90%;
  padding: 1rem;
  margin-bottom: 4.5vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  border: 1px solid #255eef;
  box-shadow: 0px 5px 11px 0px rgba(37, 95, 239, 0.6);
}
#back-end .database .email {
  display: flex;
}
#back-end .database .email p {
  padding: 0.3rem;
  border: 2px solid black;
}

/*-webkit-box-shadow: 0px -2px 20px -5px rgba(2,85,238,1);
-moz-box-shadow: 0px -2px 20px -5px rgba(2,85,238,1);
box-shadow: 0px -2px 20px -5px rgba(2,85,238,1);*/
#hadware {
  height: auto;
}
#hadware .background {
  background: #282A36;
  padding: 0rem 0.5rem;
  height: 100vh;
}
#hadware .background h1 {
  padding: 0.6rem;
  color: white;
}
#hadware .background .self {
  width: 100%;
  height: 3rem;
  padding: 0rem 0.5rem;
}
#hadware .background .self button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 3px solid hsl(219, 100%, 81%);
  background: white;
  cursor: pointer;
  width: 100%;
  margin: 0rem;
}
#hadware .background .self button img {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
}
#hadware .background .self button:hover {
  border: 3px solid rgb(177, 233, 255);
  box-shadow: 0px -2px 20px -5px rgb(133, 176, 255);
}
#hadware .background .components {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
#hadware .background .components .line1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 14vh;
}
#hadware .background .components .line1 button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 3px solid hsl(219, 100%, 81%);
  background: white;
  cursor: pointer;
  width: 47%;
  height: 14vh;
  padding: 0.3rem;
}
#hadware .background .components .line1 button img {
  width: 50%;
  height: 90%;
}
#hadware .background .components .line2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 16vh;
  margin-top: 1rem;
}
#hadware .background .components .line2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 3px solid hsl(219, 100%, 81%);
  background: white;
  cursor: pointer;
  width: 47%;
  height: 16vh;
  padding: 0.3rem;
}
#hadware .background .components .line2 button img {
  width: 70%;
  height: 90%;
}
#hadware .background .components .line3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
  margin-top: 1rem;
}
#hadware .background .components .line3 button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 3px solid hsl(219, 100%, 81%);
  background: white;
  cursor: pointer;
  width: 47%;
  height: 20vh;
  padding: 0.3rem;
}
#hadware .background .components .line3 button img {
  width: 70%;
  height: 90%;
}
#hadware .background .components .line4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 22vh;
  margin-top: 1rem;
}
#hadware .background .components .line4 button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 3px solid hsl(219, 100%, 81%);
  background: white;
  cursor: pointer;
  width: 100%;
  height: 22vh;
  padding: 0.3rem;
}
#hadware .background .components .line4 button img {
  width: 70%;
  height: 90%;
}
#hadware .background .components button:hover {
  border: 3px solid rgb(177, 233, 255);
  box-shadow: 0px -2px 20px -5px rgb(133, 176, 255);
}
#hadware .background div.space {
  height: 1rem;
}

.animate-frontend {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  padding: 0.6rem;
}/*# sourceMappingURL=usuario.css.map */