@import 'root';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    ::-webkit-scrollbar-track {
        background-color: #2f284e;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-thumb {
        background: #6dd1f0;
        border-radius: 3rem;
    }
}


body{
    height: 100vh;
    scroll-behavior:auto;
    stroke-width: 3px;
}

span.bold{
    font-weight: 700;
}

span.green{
    color: $span-green;
}

span.pink{
    color: $span-pink;
}

span.code{
    padding: 0rem;
    background: $span-background-code;
    color: $span-text-code;
    padding: 0rem 0.3rem;
    border-radius: 0.4rem;
    font-weight: 450;  
}

span.erro{
    color: $span-erro;
    text-transform: uppercase;
    font-size: 1rem;
}

h1{
    font-family: 'Inter';
    font-size: 4.3vh;
    text-transform: uppercase;
    color: $background;
}

h2{
    font-family: 'Inter';
    font-size: 3.5vh;
    text-transform: uppercase;
    color: $background;
}

p{
    font-family: 'DM Sans';
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 2vh;
    line-height: 1.6;
}

#home{
    section.informations{
        height: 58vh;
        padding: 0.5rem;
        padding-top: 0.2rem;
        background: $background;
        border-radius: 0rem 0rem 1rem 1rem;
    
        header{
            display: flex;
            justify-content: space-between;
    
            h1{
                font-family: 'Inter';
                font-size: 7vh;
                text-transform: uppercase;
                color: $text;
            }
    
            nav{
                margin-top: 0.8vh;
                
                button{
                    height: 2rem;
                    width: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.1rem;
                    border-radius: 50%;
                    border: none;
                    background: none;
                    cursor: pointer;
    
                    svg{
                        width: 24px;
                        height: 24px;
                        
                        path{
                            fill: $icon;
                        }
                    }
                }
            }
            
        }
    
        h2{
            font-family: 'Inter';
            font-size: 2.5vh;
            font-weight: 700;
            text-transform: uppercase;
            color: $text;
        }
    
        .author{
            display: flex;
            align-items: center;
            font-family: 'Inter';
            font-size: 2.5vh;
            color: $text;
    
            a{
                margin-left: 0.2rem;
                font-weight: 500;
                color: $text;
            }
        }
    
        .img{
            margin: 2vh 0vh;
            width: 100%;
            display: flex;
            justify-content: center;
    
            svg{
                margin-top: 1vh;
                padding: 0.3rem;
                height: 25vh;
                animation: fly 3s infinite;
            }

            @keyframes fly{
                50%{
                    transform: translateY(-0.8vh);
                }
            }
        }
    
    
    
        .actions{
            display: flex;
            justify-content: space-between;
    
            .social-media{
                display: flex;
    
    
                button{
                    padding: 0.3rem;
                    margin-right: 0.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    border-radius: 50%;
                    border: none;
                    cursor: pointer;
                    background: none;
    
                    svg{
                        width: 4.8vh;
                        height: 4.8vh;
    
                        path{
                            fill: $icon;
                        }
                    }
                }
    
                button:hover{
                    transform: translateY(-0.7vh);
                    //background: radial-gradient(circle at center, aqua, transparent 80%);
                }
    
                button:hover path{
                    fill: aqua;
                }
    
            }
        }
    
        .line{
            width: 100%;
            height: 0.1rem;
            background: $icon;
            margin-top: 1.5vh;
        }
    
        .important{
            height: 7.5vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            h4{
                font-family: 'Inter';
                font-size: 0.9rem;
                font-weight: 500;
                margin-left: 0.2rem;
                color: $icon;
            }
    
            .read{
                display: flex;
                align-items: center;
                
                svg{
                    width: 1.7rem
                }
        
                path{
                    fill: $icon;
                }
        
            }
        
            .scroll{
                display: flex;
                align-items: center;
                
                svg{
                    width: 1.7rem
                }
        
                path{
                    fill: $icon;
                }
            }
        }
    }
}

section.introduction{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    background: $background-text;

    .pre-index{
        margin-bottom: 0px;
    }
}

@mixin interactive-box{
    width: 90%;
    padding: 1rem;
    margin-bottom: 4.5vh;    
    background: $background-text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vh;
    border: 1px solid $background;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(37,95,239,0.60);
    -moz-box-shadow: 0px 5px 11px 0px rgba(37,95,239,0.60);
    box-shadow: 0px 5px 11px 0px rgba(37,95,239,0.60);
}

.interface{
    height: auto;
    background: $background-text;
    padding: 0.6rem;
    padding-top: 0.1rem;

    section.indice{
        background: rgb(219, 230, 255);
        font-family: 'Inter';
        font-weight: 500;
        margin-bottom: 2vh;

        ul {
            list-style-image: url('/images/tabcoin-opaco.svg');
            padding: 0.5rem;
            padding-bottom: 0rem;
            margin-left: 0.5rem;
        }

        a:active{
            color: red;

        }
    }

    .center{
        display: flex;
        justify-content: center;
        padding-bottom: 0.8rem;

        .form-design{
            @include interactive-box;
            
            h3{
                font-family: 'Inter';
                font-size: 0.9rem;
                font-weight: 600;
                margin: 0.5rem;
                text-align: center;
            }

            h4{
                color: $border;
                font-family: $label;
                font-size: 0.92rem;
                font-weight: 450;
                padding-bottom: 0.2rem;
            }

            .input{
                display: flex;
                align-items: center;
                height: 1.8rem;
                padding: 0.3rem;
                border-radius: 0.4rem;
                border: 2px solid $background;
                cursor: not-allowed;

                h5{
                    font-family: 'DM Sans';
                    font-weight: 400;
                    font-size: 0.9rem;
                    color: $gray;
                }
            }

            .email{
                display: flex;
                flex-direction: column;
                margin-bottom: 0.5rem;
            }

            .senha{
                display: flex;
                flex-direction: column;
                margin-bottom: 0.5rem;
            }

            .buttons{
                display: flex;

                button{
                    width: 18vh;
                    height: 6vh;
                    margin-top: 0.3rem;
                    border-radius: 0.4rem;
                    border: none;
                    background: $background;
                    font-family: $button;
                    font-weight: 450;
                    color: $text;
                }

                button:hover{
                    background: $background-hover;
                }
            }

            #autoComplete{
                margin-right: 1rem;
            }
        }
    
        
    }
}

#front-end{
    height: auto;
    
    .email-center{
        display: flex;
        justify-content: center;
        .form-email{
            @include interactive-box;
            padding: 1rem 1rem 1.8rem 1rem;
            .email{
                display: flex;
                flex-direction: column;

                h3{
                    font-family: 'Inter';
                    font-size: 0.9rem;
                    font-weight: 600;
                    margin: 0.5rem;
                    text-align: center;
                }

                label{
                    font-family: 'DM Sans';
                    font-weight: 400;
                    font-size: 0.9rem;
                    color: $gray;
                    margin-bottom: 0.3rem;
                }

                input{
                    display: flex;
                    align-items: center;
                    height: 1.8rem;
                    padding: 0.3rem;
                    border-radius: 0.4rem;
                    border: 2px solid $background;
                }
            }
        }

        /*.emoji{
            padding: 0.5rem 0rem 0rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            h2{
                font-size: 3rem;
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
            }

            span.bold{
                font-size: 1rem;
            }
        } */
    }

    .css-center{
        display: flex;
        justify-content: center;
        
        .custom-button{
            @include interactive-box;

            h3{
                font-family: 'Inter';
                font-size: 1rem;
                font-weight: 600;
                margin: 0.5rem;
                text-align: center;
            }

            button{
                background: gray;
                font-family: 'Inter';
                font-size: 1.5rem;
                padding: 0.5rem 2rem;
                border-radius: 50rem;
                border: none;
            }

            button:hover{
                background: rgb(255, 178, 178);
            }
        }
    }

    .css-code{
        padding: 0.6rem;
        background: $span-background-code;
        border-radius: 0.5rem;
        margin-bottom: 4.5vh;

        h4{
            font-family: 'DM Sans';
            font-weight: 400;
            color: $span-text-code;
        }
    }

    .css-center{
        .css-custom{
            @include interactive-box;
            flex-direction: inherit;
        }

        button{
            margin: 0rem 0.6rem;
        }
    }
}

#back-end{
    .backend{
        @include interactive-box;

        button{
            margin: 0.5rem;
            padding: 0.5rem 2.5rem;
            border-radius: 5rem;
            border: none;
            background: $background;
            color: $text;
            cursor: pointer;
        }

        .terminal{
            width: 100%;
            height: 6rem;
            padding: 0.6rem;
            background: $span-background-code;
            border-radius: 0.5rem;
            margin-bottom: 4.5vh;
            overflow-y: auto;
        }

        ::-webkit-scrollbar-thumb {
            background: $span-green;
            border-radius: 3rem;
        }

        p{
            color: $text;
            line-height: 1.1;
            margin-bottom: 0.5rem;
        }
    }

    .database{
        @include interactive-box;

        .email{
            display: flex;

            p{
                padding: 0.3rem;
                border: 2px solid $border;
            }
        }
    }
}


@mixin components-svg{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 3px solid $background-aqua;
    background: $text;
    cursor: pointer;
    }
    
    /*-webkit-box-shadow: 0px -2px 20px -5px rgba(2,85,238,1);
    -moz-box-shadow: 0px -2px 20px -5px rgba(2,85,238,1);
    box-shadow: 0px -2px 20px -5px rgba(2,85,238,1);*/

#hadware{
    height: auto;
    .background{
        background: $span-background-code;
        padding: 0rem 0.5rem;
        height: 100vh;

        h1{
            padding: 0.6rem;
            color: $text;
        }

        .self{
            width: 100%;
            height: 3rem;
            padding: 0rem 0.5rem;
            button{
                @include components-svg;
                width: 100%;
                margin: 0rem;

                img{
                    width: 2rem;
                    height: 2rem; 
                    padding: 0.3rem;
                }
            }

            button:hover{
                border: 3px solid rgb(177, 233, 255);
                -webkit-box-shadow: 0px -2px 20px -5px rgb(133, 176, 255);
                -moz-box-shadow: 0px -2px 20px -5px rgb(133, 176, 255);
                 box-shadow: 0px -2px 20px -5px rgba(133, 176, 255);
            }
        }

        .components{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;

            .line1{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 14vh;

                button{
                    @include components-svg;
                    width: 47%;
                    height: 14vh;
                    padding: 0.3rem;

                    img{
                        width: 50%;
                        height: 90%;
                    }
                }
            }

            .line2{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 16vh;
                margin-top: 1rem;

                button{
                    @include components-svg;
                    width: 47%;
                    height: 16vh;
                    padding: 0.3rem;

                    img{
                        width: 70%;
                        height: 90%;
                    }
                }
            }

            .line3{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 20vh;
                margin-top: 1rem;

                button{
                    @include components-svg;
                    width: 47%;
                    height: 20vh;
                    padding: 0.3rem;

                    img{
                        width: 70%;
                        height: 90%;
                    }
                }
            }

            .line4{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 22vh;
                margin-top: 1rem;

                button{
                    @include components-svg;
                    width: 100%;
                    height: 22vh;
                    padding: 0.3rem;

                    img{
                        width: 70%;
                        height: 90%;
                    }
                }
            }

            button:hover{
                border: 3px solid rgb(177, 233, 255);
                -webkit-box-shadow: 0px -2px 20px -5px rgb(133, 176, 255);
                -moz-box-shadow: 0px -2px 20px -5px rgb(133, 176, 255);
                 box-shadow: 0px -2px 20px -5px rgba(133, 176, 255);
            }
        }

        div.space{
            height: 1rem;
        }



    
        
    }
}

.animate-frontend{
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    padding: 0.6rem;

}



